@{
	ViewData["Title"] = "Index";
}

@section heading {
	<!-- begin:heading -->
	<div class="heads" style="background: url(/images/bg.jpg) center center;">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2><span>//</span> Blog</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- end:heading -->
}

<!-- begin:content -->
<div class="page-content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb">
					<li><a asp-controller="Store" asp-action="Index">Головна</a></li>
					<li class="active">Blog</li>
				</ol>
			</div>
		</div>

		<div class="row blog">
			<!-- begin:blog-content -->
			<div class="col-md-9 col-sm-9">
				<!-- begin:loop -->
				
				@foreach (var post in Model)
				{
				
					<div class="row blog-post">
						<div class="col-md-12">
							<h2>
								<span class="the-calendar">
									<span class="the-date"><i class="fa fa-calendar"></i> @(post.DatePosted.ToString("dd/mm/yy"))</span>
									<span class="the-comments"><i class="fa fa-eye"></i> @post.Id</span>
								</span>
								<a asp-route="Blog" asp-route-title="@(post.TitleUrl)">@post.Title</a>
							</h2>
							<hr>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis, ante ipsum cursus augue.</p>
							<p><a asp-route="Blog" asp-route-title="@(post.TitleUrl)" class="btn btn-purple">Read more &raquo;</a></p>
						</div>
					</div>
				}
				<!-- end:loop -->
				
				<!-- begin:pagination -->
				<div class="row" hidden>
					<div class="col-md-12">
						<ul class="pagination">
							<li class="disabled"><a href="#">Page 1 of 2</a></li>
							<li class="disabled"><a href="#">&laquo;</a></li>
							<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li><a href="#">&raquo;</a></li>
						</ul>
					</div>
				</div>
				<!-- end:pagination -->
			</div>
			<!-- end:blog-content -->
			
			<!-- begin:sidebar -->
			<div class="col-md-3 col-sm-3">
				<div class="row blog-sidebar">
					<div class="col-md-12">
						
						<div class="widget">
							<h3>Lorem ipsum dolor sit amet</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum.</p>
						</div>
						
					</div>
				</div>
			</div>
			<!-- end:sidebar -->
		</div>
	</div>
</div>
<!-- end:content -->

@section scripts {
	
	<script>
		var globalActive = "";
	</script>
	
}