@{
	ViewData["Title"] = "Post";
}

@section heading {
	<!-- begin:heading -->
	<div class="heads" style="background: url(/images/bg.jpg) center center;">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2><span>//</span> Дякуємо</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- end:heading -->
}

<!-- begin:content -->
<div class="page-content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb">
					<li><a asp-controller="Store" asp-action="Index">Головна</a></li>
					<li><a asp-controller="Blog" asp-action="Index">Blog</a></li>
					<li class="active">@(Model.Title)</li>
				</ol>
			</div>
		</div>

		<div class="row blog">
			<!-- begin:blog-single -->
			<div class="col-md-9 col-sm-9">
				<div class="row blog-post">
					<div class="col-md-12">
						<h2>
							<span class="the-calendar">
								<span class="the-date"><i class="fa fa-calendar"></i>@(Model.DatePosted.ToString("dd/mm/yy"))</span>
								<span class="the-comments"><i class="fa fa-eye"></i> @(Model.Id)</span>
							</span>
							<a asp-route="Blog" asp-route-title="@(Model.TitleUrl)">@(Model.Title)</a>
						</h2>
						<hr>
						
						@(Html.Raw(Model.HtmlContent))
						
						<p class="meta-tags"><i class="fa fa-user"></i> <a href="#">@(Model.AuthorName)</a></p>
					</div>
				</div>
				
			</div>
			<!-- end:blog-single -->
			
			<!-- begin:sidebar -->
			<div class="col-md-3 col-sm-3">
				<div class="row blog-sidebar">
					<div class="col-md-12">
						
						<div class="widget">
							<h3>Lorem ipsum dolor sit amet</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum.</p>
						</div>
						
					</div>
				</div>
			</div>
			<!-- end:sidebar -->
		</div>

	</div>
</div>
<!-- end:content -->

@section scripts {
	
	<script>
		var globalActive = "";
	</script>
	
}