@{
	ViewData["Title"] = "Post";
}

@section heading {
	<!-- begin:heading -->
	<div class="heads" style="background: url(/images/bg.jpg) center center;">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2><span>//</span> Дякуємо</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- end:heading -->
}

<!-- begin:content -->
<div class="page-content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb">
					<li><a asp-controller="Store" asp-action="Index">Головна</a></li>
					<li><a asp-controller="Blog" asp-action="Index">Blog</a></li>
					<li class="active">@(Model.Title)</li>
				</ol>
			</div>
		</div>

		<div class="row blog">
			<!-- begin:blog-single -->
			<div class="col-md-9 col-sm-9">
				<div class="row blog-post">
					<div class="col-md-12">
						<h2>
							<span class="the-calendar">
								<span class="the-date"><i class="fa fa-calendar"></i>@(Model.DatePosted.ToString("dd/mm/yy"))</span>
								<span class="the-comments"><i class="fa fa-eye"></i> @(Model.Views)</span>
							</span>
							<a asp-route="Blog" asp-route-title="@(Model.TitleUrl)">@(Model.Title)</a>
						</h2>
						<hr>
						
						@(Html.Raw(Model.HtmlContent))
						
						<p class="meta-tags"><i class="fa fa-user"></i> <a asp-controller="Store" asp-action="Profile">@(Model.Author.NickName)</a></p>
					</div>
				</div>
				
			</div>
			<!-- end:blog-single -->
			
			<!-- begin:sidebar -->
			<div class="col-md-3 col-sm-3">
				<div class="row blog-sidebar">
					<div class="col-md-12">
						
						<div class="widget">
							<h3>Author</h3>
							<div class="team-container">
								<div class="featured-photos">
									<img src="@(Model.Author.ImageUrl)" class="img-responsive img-rounded" alt="Polina Guley">
								</div>				
								<h3><a asp-controller="Store" asp-action="Profile">@(Model.Author.FullName)</a></h3>
								<h4>@(Model.Author.Position)</h4>
								<p>@(Model.Author.Occupation)</p>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			<!-- end:sidebar -->
		</div>

	</div>
</div>
<!-- end:content -->

@section scripts {
	
	<script>
		var globalActive = "";
	</script>
	
}