@{
	ViewData["Title"] = Model.Title;
	ViewData["Current"] = "Blog";
}

@section heading {
	<!-- begin:heading -->
	<div class="heads" style="background: url(/images/bg.jpg) center center;">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2><span>//</span> Блог</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- end:heading -->
}


<!-- begin:content -->
<div class="page-content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb">
					<li><a asp-controller="Home" asp-action="Index">Головна</a></li>
					<li><a asp-controller="Blog" asp-action="Index">Блог</a></li>
					<li class="active">@(Model.Title)</li>
				</ol>
			</div>
		</div>

		<div class="row blog">
			<!-- begin:blog-single -->
			<div class="col-md-9 col-sm-9">
				<div class="row blog-post">
					<div class="col-md-12">
						<h2>
							<span class="the-calendar">
								<span class="the-date"><i class="fa fa-calendar"></i>@(Model.DatePosted.ToString("dd/mm/yy"))</span>
								<span class="the-comments"><i class="fa fa-eye"></i> @(Model.Views)</span>
							</span>
							<a asp-route="Blog" asp-route-id="@(Model.Id)" asp-route-title="@(Model.TitleUrl)">@(Model.Title)</a>
						</h2>
						<hr>
						
						@(Html.Raw(Model.HtmlContent))
						
						<p class="meta-tags"><i class="fa fa-user"></i> <a asp-controller="Home" asp-action="Profile">@(Model.Author.NickName)</a></p>
					</div>
				</div>
				
			</div>
			<!-- end:blog-single -->
			
			<!-- begin:sidebar -->
			<div class="col-md-3 col-sm-3">
				<div class="row blog-sidebar">
					<div class="col-md-12">
						
						<div class="widget">
							<h3>Автор</h3>
							<div class="team-container">
								<div class="featured-photos">
									<img src="@(Model.Author.ImageUrl)" class="img-responsive img-rounded" alt="@(Model.Author.FullName)">
								</div>				
								<h3><a asp-controller="Home" asp-action="Profile">@(Model.Author.FullName)</a></h3>
								<h4>@(Model.Author.Position)</h4>
								<p>@(Model.Author.Occupation)</p>
							</div>
						</div>
					</div>
				</div>


				<div class="row sidebar">
					<div class="col-md-12">
						@await Component.InvokeAsync("SocialWidget", $"https://shevastream.com/blog/post/{Model.Id}/{Model.TitleUrl}")
					</div>					
				</div>

			</div>
			<!-- end:sidebar -->
		</div>

	</div>
</div>
<!-- end:content -->

<!-- structured data -->
<script type="application/ld+json">
{
	"@@context": "http://schema.org",
	"@@type": "BlogPosting",
	"headline": "@Model.Title",
	"datePublished": "@Model.DatePosted.ToString("yyyy-MM-dd")",
	"description": "@Model.Preview",
	"articleBody": "@Model.Content",
	"author": {
		"@@type": "Person",
		"name": "@Model.Author.FullName",
		"image": "@(Model.Author.ImageUrl)",
		"jobTitle": "@(Model.Author.Position)"
	},
	"image": {
		"@@type": "ImageObject",
		"contentUrl": "/images/bg.jpg",
		"url": "https://shevastream.com/images/bg.jpg",
		"width": 1500,
		"height": 1000

	},
	"publisher" : {
		"@@type": "Organization",
		"legalName": "Sheva Stream",
		"email": "shevastream@gmail.com",
		"name": "Sheva Stream",
		"logo": {
			"@@type": "ImageObject",
			"contentUrl": "/images/logo.jpg",
			"url": "https://shevastream.com/images/logo.jpg"
		}
	},
	"dateModified" : "@Model.DateUpdated.ToString("yyyy-MM-dd")",
	"mainEntityOfPage": {
		 "@@type": "WebPage",
		 "@@id": "https://shevastream.com"
	}
}
</script>
